<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Korka</title>
</head>
<body>
<form enctype="/..." method="post">
    <table border="1px" align="center">
        <tr>
            <td>
                <input type="file" name="file" accept="application/pdf">
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="submit" value="Send">
            </td>
        </tr>
    </table>
</form>
</body>
</html>